# Building_3

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ELFParameters.csv" data-toc-modified-id="ELFParameters.csv-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ELFParameters.csv</a></span></li><li><span><a href="#Geometry.csv" data-toc-modified-id="Geometry.csv-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Geometry.csv</a></span></li><li><span><a href="#Loads.csv" data-toc-modified-id="Loads.csv-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Loads.csv</a></span></li><li><span><a href="#MemberDepth.csv" data-toc-modified-id="MemberDepth.csv-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>MemberDepth.csv</a></span></li></ul></div>

## ELFParameters.csv

In [25]:
import pandas as pd

header = ([
    "Ss", "S1", "TL", "Cd", "R", "Ie", "rho", "site class", "Ct", "x"
])

data = ([
    [2.25, 0.6, 8, 5.5, 8, 1, 1, "D", 0.028, 0.8]
]) 
    
df = pd.DataFrame(data, columns=header)
display(df)

df.to_csv('ELFParameters.csv', index=False)

     Ss   S1  TL   Cd  R  Ie  rho site class     Ct    x
0  2.25  0.6   8  5.5  8   1    1          D  0.028  0.8

## Geometry.csv

In [26]:
import pandas as pd

header = ([
    "number of story", "number of X bay", "number of Z bay", "first story height", "typical story height", "X bay width", "Z bay width", "number of X LFRS", "number of Z LFRS"
])

data = ([
    [3, 4, 4, 13, 13, 30, 30, 2, 2]
]) 
    
df = pd.DataFrame(data, columns=header)
display(df)

df.to_csv('Geometry.csv', index=False)

,number of story,number of X bay,number of Z bay,first story height,typical story height,X bay width,Z bay width,number of X LFRS,number of Z LFRS
0,3,4,4,13,13,30,30,2,2

## Loads.csv

In [27]:
import pandas as pd

header = ([
    "floor weight", "floor dead load", "floor live load", "beam dead load", "beam live load", "leaning column dead load", "leaning column live load"
])

data = ([
    [2289, 106, 50, 1590, 750, 954, 450],
    [2289, 106, 50, 1590, 750, 954, 450],
    [2289, 106, 50, 1590, 750, 954, 450]    
]) 
    
df = pd.DataFrame(data, columns=header)
display(df)

df.to_csv('Loads.csv', index=False)

,floor weight,floor dead load,floor live load,beam dead load,beam live load,leaning column dead load,leaning column live load
0,2289,106,50,1590,750,954,450
1,2289,106,50,1590,750,954,450
2,2289,106,50,1590,750,954,450

## MemberDepth.csv

In [28]:
import pandas as pd

header = ([
    "exterior column", "interior column", "beam"
])

data = ([
    ["W14", "W14", "W27, W30, W33"],
    ["W14", "W14", "W27, W30, W33"],
    ["W14", "W14", "W27, W30, W33"]  
]) 
    
df = pd.DataFrame(data, columns=header)
display(df)

df.to_csv('MemberDepth.csv', index=False)

  exterior column interior column           beam
0             W14             W14  W27, W30, W33
1             W14             W14  W27, W30, W33
2             W14             W14  W27, W30, W33